/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Apr-2019, 00:04:13
    Author     : wailampoon
*/

#playbtn{
     -fx-background-radius: 10 ;
     -fx-border-color: white;
     -fx-border-radius: 10;
    
}


#stopbtn{
     -fx-background-radius: 10;
     -fx-border-color: white;
     -fx-border-radius: 10;
    
}


#nextbtn{
     -fx-background-radius: 10 ;
     -fx-border-color: white;
     -fx-border-radius: 10;
    
}

#previousbtn{
    
        -fx-background-radius: 10 ;
     -fx-border-color: white;
     -fx-border-radius: 10;
}

#selectfile{
    
    -fx-border-color: white;
     -fx-border-radius: 10;
    
   
}